
@using fault3r_Presentation.Areas.AdminPanel.Models.ViewModels.Forums
@model List<ForumViewModel>

@{
    ViewData["Title"] = "انجمن ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/site/main.css" />
}

@{
    foreach(var forum in Model)
    {
        
        <div class="forum-container">
            <div class="forum-item">
                <div class="image" style="background-image: url('data:image/*;base64,@forum.Image')"></div>
                <div class="title">
                    <span>@forum.Title</span>
                    <span>@forum.Description</span>
                </div>
            </div>
            @{
                foreach(var sub in forum.SubForums)
                {
                    <div class="sub-item">
                        <div class="image" style="background-image: url('data:image/*;base64,@sub.Image')"></div>
                        <div class="title">
                            <span>@sub.Title</span>
                            <span>@sub.Description</span>
                        </div>            
                        <div class="topics">T</div>
                        <div class="posts">P</div>
                        <div class="lastupdate">آخرین بروزرسانی</div>
                    </div>
                }
            }
        </div>
    }
}

