@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DarkMatter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>  
    <div class="main">
        <div class="dark-side">
            <div class="dark-menu">
                <span>---------------</span>
                <a href="/">خانه</a>
                <a href="/Forums/Index">انجمن</a>
                <a href="#">درباره ما</a>
                <a href="#"><i class="fa fa-user-circle"></i></a>
                <a href="#"><i class="fa fa-reorder"></i></a>
            </div>
            <div class="dark-content">
                <span>هر چیزی را اینجا جستجو کنید:</span>
                <div class="search">
                    <input type="text" placeholder="جستجو.." /> 
                    <a href="#"><i class="fa fa-search"></i></a>
                </div>                                               
            </div>
            <div class="dark-foot">--------------- <a href="/Accounts/SignUp">ثبت نام</a></div>
        </div>
        <div class="light-side">
            <div class="light-content">
                <span class="title">ماده تاریک</span>
                <span class="description"><i class="fa fa-quote-right"></i>این یک انجمن است برای پیدا کردن بهترین جواب برای سوالات خود.<i class="fa fa-quote-left"></i></span>
                <a href="/Forums/Index">ورود به انجمن</a>
            </div>
            <div class="light-foot"><a href="/Accounts/SignIn">ورود</a> ---------------</div>
            <div class="by">by: fault3r</div>
        </div>
        <div class="dark-matter">
            <div class="header">
                ماده تاریک
            </div>
        </div>
    </div>       
</body>
</html>