/*  
    Black: #101010
    Gray:  #282828
    White: #D5D5D5
           #D2D5EF  *Custom
    Blues:  *Dark to Light
           #0C0032
           #190061
           #240090
           #3500D3
           #4D58D5  *Custom
*/
.accounts {
    font-family: 'B Nazanin', 'Arial';
    font-size: 15px;
    background-image: linear-gradient(to left, #282828,#101010);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 10px;
}
    .accounts a {
        font-family: 'B Elham';
        font-size: 16px;
        color: #4D58D5;
    }

    .accounts .accounts-side {
        width: 40%;
        background-image: linear-gradient(to top left, #190061,#3500D3);
        border-radius: 15px 100% 100% 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .accounts .accounts-side .side {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            direction: rtl;
            text-align: right;
            padding: 0px 15px 0px 7px;
            font-size: 16px;
            font-weight: bold;
            color: #cecece;
            text-shadow: 1px 1px 4px #282828;
        }

            .accounts .accounts-side .side .title {
                font-size: 25px;
            }

    .accounts .accounts-content {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .accounts .accounts-content .content {
            display: flex;
            flex-direction: column;
            gap: 5px;
            direction: rtl;
            text-align: right;
            padding: 10px;
            color: #cecece;
            font-weight: bold;   
            width: 90%;
        }

            .accounts .accounts-content .content i {
                margin: auto;
                font-size: 40px;
                color: #3500d3;
            }

            .accounts .accounts-content .content .title {
                margin: auto;
                font-size: 20px;
            }

            .accounts .accounts-content .content form {
                position: relative;
            }

                .accounts .accounts-content .content form i {
                    font-size: 20px;
                    position: absolute;
                    left: 0;
                }

            .accounts .accounts-content .content .terms {
                padding: 5px 1px 5px 0px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: right;
                align-items: center;
                gap: 5px;
            }
            .accounts .accounts-content .content .terms label {
                padding-top: 10px;
            }

            .accounts .accounts-content .content form > input {
                width: 100%;
                outline: none;
                padding: 0px 5px 0px 0px;
                margin-bottom: 5px;
                color: #D2D5EF;
                background-color: transparent;
                border-radius: 0px;
                border: none;
                border-right: 3px solid #3500D3;
                border-bottom: 1px solid white;
                transition: all 0.3s ease;
            }

                .accounts .accounts-content .content form > input:focus {
                    border-bottom: 1px solid #3500D3;
                }

            .accounts .accounts-content .content button {
                color: #4D58D5;
                font-size: 18px;
                font-weight: bold;
                white-space: nowrap;
                width: 100%;
                border: 2px solid #3500D3;
                background-image: radial-gradient(#240090,#0C0032 );
                border-radius: 10px;
                border: 2px solid #3500D3;
                transition: all 0.3s ease;
            }

                .accounts .accounts-content .content button:hover {
                    color: #D2D5EF;
                    background-image: linear-gradient(to top left, #190061,#3500D3);
                    border: 2px solid #4D58D5;
                }

            .accounts .accounts-content .content input[type="checkbox"] {
                accent-color: #3500D3;
            }

            .accounts .accounts-content .content .validation {
                margin-top: 10px;
                font-weight: normal;
                color: #4D58D5;
            }


          