/*  
    Black: #101010
    Gray:  #282828
    White: #D5D5D5
           #D2D5EF  *Custom
    Blues:  *Dark to Light
           #0C0032
           #190061
           #240090
           #3500D3
           #4D58D5  *Custom
*/


.a-main {
    font-family: 'B Nazanin', 'Comic Sans MS';
    font-size: 15px;
    font-weight: bold;
    direction: rtl;
    text-align: right;
    color: #D2D5EF;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;    
    gap: 10px;
}
    .a-main a {
        color: #4D58D5;
    }
        .a-main a:hover {
            text-decoration: none;
            color: #D2D5EF;
        }
    .a-main .main-account {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        padding: 10px 0px 10px 0px;
    }
        .a-main .main-account .picture {
            width: 170px;
            height: 170px;
            min-width: 170px;
            min-height: 170px;
            border: 1px solid #190061;
            border-radius: 69% 31% 69% 31% / 27% 70% 30% 73%;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
        }
        .a-main .main-account .content {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            justify-items:flex-start;
            gap: 5px;
        }
            .a-main .main-account .content span {
                white-space: nowrap;
                overflow:hidden;
                color: #D2D5EF;
                background-image: linear-gradient(to left, #190061,#0C0032);
                padding: 0px 20px 0px 20px;
                border-radius: 10px;
                max-width: 300px;
            }
            .a-main .main-account .content .bio {
                height: 60px;
                max-width: 300px;
                white-space:normal;
                word-wrap:break-word;
                overflow-y: scroll;
            }           
    .a-main .options {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 3px;
        position: relative;
    }
        .a-main .options a {
            background-image: radial-gradient(#240090,#0C0032 );
            font-size: 15px;
            text-align: center;
            padding: 2px 15px 2px 15px;
            border-radius: 10px;
            border: 2px solid #3500D3;
            white-space: nowrap;
            display: flex;
            align-items: center;
            transition: all 0.3s ease;
        }
        .a-main .options a:hover {
            background-image: linear-gradient(to top left, #190061,#3500D3);
            color: #D2D5EF;
            border: 2px solid #4D58D5;
        }
        .a-main .options a i {
            font-size: 18px;
            margin-left: 5px;
        }
    .a-main .main-more {
        border: 1px solid #240090;
        border-radius: 10px;
        padding: 5px;
        height: 150px;
    }

.form-container {
    font-family: 'B Nazanin', 'Comic Sans MS';
    font-size: 15px;
    font-weight: bold;
    direction: rtl;
    text-align: right;
    color: #D2D5EF;   
    display: flex;
    flex-direction: column;    
}
    .form-container .title {
        font-size: 20px;
        color: #4D58D5;
        background-image: linear-gradient(to left, #240090,#0C0032);
        padding-right: 10px;
        border-radius: 10px;
        display: flex;
        align-items:center;
    }
        .form-container .title i {
            font-size: 25px;
            margin-left: 5px;
        }
    .form-container table {
        margin-top:5px;
    }
        .form-container table td {
            text-align: left;
            vertical-align: top;
            padding: 5px;
        }
            .form-container table td.right {
                text-align: right;
            }    

        .form-container table input, textarea {
            width: 100%;
            resize: none;
            outline: none;
            color: #D2D5EF;
            background-color: #1a1a1a;
            border: 2px solid #3500D3;
            border-radius: 10px;
            padding-right: 5px;
        }          
            .form-container table input:focus, textarea:focus {
                border: 2px solid #4D58D5;
                background-color: #282828;
            }
            .form-container table input[type="checkbox"] {
                width: auto;
                height: auto;
                accent-color: #3500D3;
            }
            .form-container table input[type="file"] {
                all: unset;
                font-size: 11px;
                white-space: nowrap;
                padding-right: 10px;
            }
                .form-container table input[type="file"]::file-selector-button {
                    display: none;
                }

        .form-container table .choose-picture {
            width: 100%;
            color: #D2D5EF;
            background-color: #1a1a1a;
            border: 2px solid #3500D3;
            border-radius: 10px;
            padding: 5px 5px 0px 5px;
        }
            .form-container table .choose-picture:hover {
                border: 2px solid #4D58D5;
                background-color: #282828;
            }
            .form-container table .choose-picture label {
                width: 100%;
                font-size: 14px;
                color: #4D58D5;
                background-color: #0C0032;
                border-radius: 10px;
                border: 2px solid #240090;
                padding: 0px 5px 0px 5px;
            }
            .form-container table .choose-picture span{
                display:block;
                display:flex;
                gap:3px;
            }

        .form-container table button {
            width: 300px;
            color: #4D58D5;
            background-image: radial-gradient(#240090,#0C0032 );
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            padding: 2px 8px 2px 8px;
            border-radius: 10px;
            border: 2px solid #3500D3;
            white-space: nowrap;            
            transition: all 0.3s ease;     
            position: relative;
        }
            .form-container table button i {
                margin-left: 5px;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%)
            }
            .form-container table button:hover {
                background-image: linear-gradient(to top left, #190061,#3500D3);
                color: #D2D5EF;
                border: 2px solid #4D58D5;
            }
        .form-container table .validation {
            font-weight: normal;
            color: #4D58D5;
        }

        .form-container table .del-confirm {                              
            display: flex;
            flex-direction:row;
            flex-wrap:nowrap;
            justify-content: flex-start;
            gap:5px;
        }
            .form-container table .del-confirm label {
                font-size: 17px;
                padding-top: 10px;
            }