
.code {
    display: flex;
    justify-content: center;
}
    .code span {
        font-family: 'B Elham';
        font-size: 50px;
        font-weight: bold;
        white-space: nowrap;
        text-align: center;
        text-shadow: 2px 2px 4px #0C0032;
        padding: 0px 15px 0px 15px;
        background-image: conic-gradient(#4D58D5,#3500D3,#0C0032);
        border-radius: 10px;
        width: 100%;
    }

.message {
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
    .message span {
        font-family: 'B Elham';
        font-size: 30px;
        white-space: nowrap;
        text-shadow: 2px 2px 4px #0C0032;
        padding: 0px 15px 0px 15px;
        background-image: linear-gradient(to left,#4D58D5,#3500D3,#0C0032 );
        border-radius: 10px;
        width:100%;
        display:flex;
        align-items:center;
    }

