@using fault3r_Presentation.Models
@model StatusCodeViewModel

@{
    ViewData["Title"] = "خطا";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/error.css" />
}

@section Sidebar{
    <div class="code">
        <span>خطا <sup><small>@Model.Code.ToString()</small></sup></span>
    </div>
}

<div class="message">
    <span>@Model.Message</span>
</div>


