

.main-container{
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 5px;
}

    .main-container .title {
        font-family: 'B Elham', 'Comic Sans MS';
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-shadow: -1px -1px 2px #3500D3;
        white-space: nowrap;
        color: #4D58D5;
        background-image: radial-gradient(circle at left, #240090, #190061, #0C0032, #3500D3);
        border-radius: 10px;
        border: 2px solid #3500D3;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-bottom: 3px;
    }
        .main-container .title i {
            font-size: 24px;
        }

    .main-container .searchbar {
        display:flex;
        justify-content:flex-end;
    }
        .main-container .searchbar table {
            margin: 0px 0px 5px 15px;  
        }
        .main-container .searchbar table td {
        }
        .main-container .searchbar span {
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: bold;
            color: #4D58D5;
        }
        .main-container .searchbar input {
            width: 200px;
            background-color: transparent;
            color: #D2D5EF;
            outline: none;
            border: 2px solid #3500D3;
            border-radius: 10px;
        }
            .main-container .searchbar input:focus {
                border: 2px solid #4D58D5;
            }
        .main-container .searchbar button {
            background-color: #3500D3;
            color: #D2D5EF;
            outline: none;
            border: 2px solid #3500D3;
            border-radius: 10px;
            padding: 3px 7px 0px 7px;     
        }
            .main-container .searchbar button:hover {
                border: 2px solid #4D58D5;
            }

    .main-container .main {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
        .main-container .main table {
            width: 100%; 
        }
            .main-container .main table th {
                color: #4D58D5;
                font-size: 17px;
                border-bottom: 1px solid #190061;                  
            }
            .main-container .main table td {
                padding: 3px;
                white-space: nowrap;
                max-width: 150px;
                overflow: hidden;
            }
            .main-container .main table td.options{
                overflow:visible;
            }
            .main-container .main table img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            .main-container .main table tr.parent td{
                background-color: #240090;
            }
          
        .main-container .main .menu-container {
            display: flex;
            position: relative;
            max-width: 70px;
        }
            .main-container .main .menu-container button {
                width: 100%;
                outline: none;
                border: none;
                color: #4D58D5;
                background-color: #0C0032;
                font-weight: bold;
            }
                .main-container .main .menu-container button:hover {
                    background-color: #190061;
                }
                .main-container .main .menu-container button:focus {
                    background-color: #190061;
                }
            .main-container .main .menu-container .menu-content {
                display: none;
                position: absolute;
                top: calc(100%);
                left: 0px;
                flex-direction: column;
                z-index: 1;
                background-color: #190061;
                padding: 5px 15px 5px 15px;
            }
                .main-container .main .menu-container .menu-content a {
                    text-decoration: none;
                    color: #4D58D5;
                }
                    .main-container .main .menu-container .menu-content a:hover {
                        font-weight:bold;
                    }
            .main-container .main .menu-container button:focus ~ .menu-content {
                display: flex;
            }
            .main-container .main .menu-container .menu-content:hover {
                display: flex;
            }


    .main-container .pagination {
       display: flex;
       flex-direction: row;
       flex-wrap:nowrap;
       justify-content: flex-start;
       align-items:flex-end;
       gap: 5px;
    }
        .main-container .pagination .current {
            background-color: #190061;
        }
        .main-container .pagination span {
            font-size: 17px;
            color: #4D58D5;
        }
        .main-container .pagination a {
            text-decoration: none;
            padding: 5px 12px 5px 12px;
            font-size: 17px;
            color: #4D58D5;
            border-radius: 10px;            
            background-color: #0C0032;
        }
            .main-container .pagination a:hover {
                background-color: #190061;
            }

.form-container {
    font-family: 'B Nazanin','Comic Sans MS';
    font-size: 15px;
    font-weight: bold;
    display:flex;
    flex-direction: column;    
}
    .form-container .title {
        font-size: 20px;
        color: #4D58D5;
        background-image: linear-gradient(to left, #240090,#0C0032);
        padding-right: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 5px;
    }
    .form-container table {
        width: 100%;        
    }
        .form-container table td {
            padding: 5px;
            text-align: left;
            vertical-align: top;
        }
        .form-container table .choose {
            display: flex;
            flex-direction: column;
            text-align:right;
            font-size: 13px;
        }
            .form-container table .choose input {
                padding: 5px;
                font-size: 10px;
            }
            
            .form-container table .choose input::file-selector-button{
                display: none;
            }
        .form-container table .check {
            padding-right: 7px;
            display: flex;
            flex-direction:row;
            flex-wrap:nowrap;
            align-items:center;
            gap: 5px;
        }
            .form-container table .check input {
                width:auto;                
            }
            .form-container table .check label {
                display: block;
                padding-top: 7px;
            }

        .form-container table .validation {
            text-align: right;
            font-weight: normal;
            color: #4D58D5;
        }

    .form-container input, select {
        accent-color: #4D58D5;
        width: 100%;
        outline: none;
        color: #D2D5EF;
        background-color: #1a1a1a;
        border: 2px solid #3500D3;
        border-radius: 10px;
        padding-right: 5px;
    }
        .form-container input:focus, select:focus {
            border: 2px solid #4D58D5;
            background-color: #282828;
        }
    .form-container button {
        outline: none;
        width: 50%;
        color: #4D58D5;
        background-image: radial-gradient(#240090,#0C0032 );
        border: 2px solid #3500D3;
        font-weight: bold;     
        position: relative;
    }
    .form-container button i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
        .form-container button:hover {
            background-image: linear-gradient(to top left, #190061,#3500D3);
            color: #D2D5EF;
            border: 2px solid #4D58D5;
        }
