
@using System.Security.Claims
@using fault3r_Presentation.Models.ViewModels.Account
@model ChangePasswordAccountViewModel

@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/account.css" />
}

<div class="form-container">
    <span class="title"><i class="fa fa-user-circle"></i>ویرایش حساب کاربری</span>
    <table>
        <form asp-controller="Account" asp-action="ChangePassword" method="post">     
            <tr>
                <td><span>کلمه عبور فعلی:</span></td>
                <td><input asp-for="CurrentPassword" type="password" /></td>
            </tr> 
            <tr>
                <td><span>کلمه عبور جدید:</span></td>
                <td><input asp-for="NewPassword" type="password"/></td>
            </tr> 
            <tr>
                <td><span>تکرار کلمه عبور:</span></td>
                <td><input asp-for="ConfirmPassword" type="password" /></td>
            </tr> 
            <tr>
                <td></td>
                <td><button><i class="fa fa-key"></i>تغییر کلمه عبور</button></td>
            </tr>   
            <tr>               
                <td colspan="2" class="right">
                    <div asp-validation-summary="All" class="validation"></div>
                </td>
            </tr>
        </form>
    </table>
</div>


