@using System.Security.Claims
@using fault3r_Presentation.Models.ViewModels.Account
@model UpdateAccountViewModel

@{
    ViewData["Title"] = "ویرایش مشخصات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/account.css" />
}

<div class="form-container">
    <span class="title"><i class="fa fa-user-circle"></i>ویرایش حساب کاربری</span>
    <table>
        <form asp-controller="Account" asp-action="Update" method="post" enctype="multipart/form-data">
            <tr>
                <td><span>ایمیل:</span></td>
                <td><input value="@User.FindFirst(ClaimTypes.Email).Value.ToString()" disabled /></td>
            </tr>
            <tr>
                <td><span>نام:</span></td>
                <td><input asp-for="Name" autocomplete="off" /></td>
            </tr> 
            <tr>
                <td><span>تصویر:</span></td>
                <td class="right">
                    <div class="choose-picture">
                        <label for="Picture">انتخاب فایل...
                            <input asp-for="Picture" type="file" id="Picture" accept=".jpg,.png" />
                        </label>                                 
                        <span><i class="fa fa-lightbulb-o"></i><small>برای تغییر ندادن تصویر حساب کاربری فایلی انتخاب نکنید.</small></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span>درباره:</span></td>
                <td><textarea asp-for="Bio" autocomplete="off"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><button><i class="fa fa-pencil"></i>ویرایش مشخصات</button></td>
            </tr>   
            <tr>               
                <td colspan="2" class="right">
                    <div asp-validation-summary="All" class="validation"></div>
                </td>
            </tr>
        </form>
    </table>
</div>
