
@using fault3r_Presentation.Areas.AdminPanel.Models.ViewModels.Forums
@model AddForumViewModel

@{
    ViewData["Title"] = "افزودن انجمن";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/admin/main.css" />
}

<div class="form-container">
     <span class="title"><i class="fa fa-code"></i>افزودن انجمن</span>     
     <div class="main">
        <table>
            <form asp-area="AdminPanel" asp-controller="Forums" asp-action="Add" method="post" enctype="multipart/form-data">
                <tr>
                    <td>عنوان:</td>
                    <td><input asp-for="Title" /></td>
                </tr>
                <tr>
                    <td>شرح:</td>
                    <td><input asp-for="Description" /></td>
                </tr>
                <tr>
                    <td>تصویر:</td>
                    <td class="choose">
                        <input asp-for="Image" type="file" accept=".jpg,.png" />    
                        <div class="check">
                            <input asp-for="UseDefaultImage" id="UseDefaultImage" />
                            <label for="UseDefaultImage">از تصویر پیشفرض استفاده میکنم.</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>انجمن:</td>
                    <td>
                        <select asp-for="ParentId" asp-items="@ViewBag.ParentsList">
                            <option value="null">[هیچکدام]</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit"><i class="fa fa-code"></i>افزودن</button></td>
                </tr>
                <tr>
                    <td class="validation" colspan="2"><div asp-validation-summary="All"></div></td>
                </tr>            
            </form>
        </table>
    </div>
</div>