
@using fault3r_Presentation.Areas.AdminPanel.Models.ViewModels.Forums
@model DeleteForumViewModel

@{
    ViewData["Title"] = "حذف انجمن";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/admin/main.css" />
}

<div class="form-container">
     <span class="title"><i class="fa fa-code"></i>حذف انجمن</span>     
     <div class="main">
        <table>
            <form asp-area="AdminPanel" asp-controller="Forums" asp-action="Delete" method="post">
                <input asp-for="Id" type="hidden" />
                <tr>
                    <td>
                       <div class="check">
                            <input asp-for="Confirm" />
                            <label for="Confirm">از حذف این انجمن مطمثن هستم.</label>
                       </div>
                    </td>
                </tr>               
                <tr>                 
                    <td><button type="submit"><i class="fa fa-code"></i>حذف</button></td>
                </tr>
                <tr>
                    <td class="validation" colspan="2"><div asp-validation-summary="All"></div></td>
                </tr>            
            </form>
        </table>
    </div>
</div>