/*  
    Black: #101010
    Gray:  #282828
    White: #D5D5D5
           #D2D5EF  *Custom
    Blues:  *Dark to Light
           #0C0032
           #190061
           #240090
           #3500D3
           #4D58D5  *Custom
*/

.forum-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid #3500D3;
    border-radius: 10px;
    margin-bottom:5px;
}

    .forum-container .forum-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5px;
        align-items: center;
        background-image: linear-gradient(to left, #240090,#0C0032);
        padding: 3px;
        border-radius: 5px 5px 0px 0px;
    }
        .forum-container .forum-item .image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #0C0032;
            background-size:cover;
        }
        .forum-container .forum-item .title {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        .forum-container .forum-item .title span:first-child{
            font-weight: bold;
            font-size:17px;
        }
        .forum-container .forum-item .title span:last-child{
            font-size: 12px;
        }
    .forum-container .sub-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 5px;
        padding: 3px;
        border: 1px solid #240090;
        border-radius: 5px;
    }
        .forum-container .sub-item .image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #0C0032;
            background-size: cover;
        }
    .forum-container .sub-item .title {
        display:flex;
        flex-direction:column;
        flex-wrap:nowrap;
        width: 50%;
    }
        .forum-container .sub-item .title span:first-child {
            font-weight: bold;
        }
        .forum-container .sub-item .title span:last-child {
            font-size: 12px;
        }
    .forum-container .sub-item .topics, .posts, .lastupdate {
        margin-right: auto;
    }